/* header */
.header h1 { line-height: 100px; margin: 0 auto; text-align: center; } 
.header h1 img { width: 70px; } 

.header h1 img:nth-child(1) { animation: rotate_image 10s linear infinite; transform-origin: 50% 50%; } 
@keyframes rotate_image { 100% { transform: rotate(360deg); } 
 }

.header .gnb { margin: 0 auto; line-height: 50px; border-bottom: 1px solid #333; border-top: 1px solid #333;; } 
.header .gnb>ul { display: flex; gap: 50px; justify-content: center; font-family: 'SUIT'; font-weight: 400; font-size: 15px; } 



/* section main_visual */
.main figure img { width: 100%; border-bottom: 1px solid #333; } 



/* section at_Home */
.at_home { padding: 150px 0; } 
.at_home .container { width: 1420px; margin: 0 auto; } 
.at_home .container h2 { font-size: 80px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 60px 0; } 
.at_home .container .inner { display: flex; justify-content: space-between; } 
.at_home .container .inner p { font-size: 17px; font-family: 'SUIT'; font-weight: 400; margin: 0 0 70px 0; line-height: 1.4; } 
.at_home_slide img { margin: 0 10px; } 
.at_home .btn { cursor: pointer; width: 60px; height: 60px; border: 1px solid #333; border-radius: 30px; } 



/* section slide_section */
.slide_section { height: 750px; background: rgb(236, 236, 236); overflow: hidden; } 
.slide_section .container { display: flex; width: 1420px; margin: 0 auto; } 
.slide_section .container .slide { display: flex; width: 50%; } 
.slide_section .container .slide div>img { padding-right: 20px; padding-top:20px; width: 340px; } 
.slide_section .content { margin: 260px 0; width: 50%; font-family: 'SUIT'; text-align: right; } 
.slide_section .content h2 { font-size: 40px; font-weight: 700; margin: 0 0 30px 0; } 
.slide_section .content p { font-size: 20px; font-weight: 400; line-height: 1.4; } 



/* section_tile */
.tile { padding-top: 100px; } 
.tile .container { width: 1420px; margin: 0 auto; } 
.tile .container h2 { font-size: 30px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; line-height: 1.3; } 
.tile .container p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; margin: 0 0 50px 0; line-height: 1.4; } 
.tile .container .inner { display: flex; justify-content: space-between; } 
.tile .container .inner .btn_tile { display: inline-block; background: #f1f1f1; padding: 9px 30px 10px 30px; border: 1px solid #333; margin: auto 0 50px auto; cursor: pointer; transition: 0.5s; } 
.tile .container .inner .btn_tile:hover { border: 1px solid #333; background: #333; color: white; } 
.tile .inner_img { display: flex; width: 50%; } 
.tile .inner_img img:hover { filter: brightness(0.5); transition: 0.5s; } 



/* section small_slide */
.small_slide { position: relative; padding: 150px 0; } 
.small_slide .container { width: 1420px; margin: 0 auto; } 
.small_slide .container h2 { font-size: 30px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; line-height: 1.3; } 
.small_slide .container p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; margin: 0 0 100px 0; line-height: 1.4; } 
.small_slide .container .small_btn { cursor: pointer; width: 60px; height: 60px; border: 1px solid #333; border-radius: 30px; } 
.small_slide .slide_small { position: absolute; inset: 50% 0 0 50%; transform: translate(0, -55%); } 
.small_slide .slide_small img { margin: 10px; height: 330px; width: 330px; } 


/* section fixed_bg */
.fixed_bg { position: relative; height:360vh; background: #181818; } 

.typo { position: sticky; top: 0; padding: 170px 0; height:100vh; } 
.typo .container { width: 1420px; margin: 0 auto; } 
.typo .inner { display: flex; } 
.typo .inner img { height: 100px; margin: 50px 0 30px 0; } 
.typo .inner p { color: white; font-size: 180px; font-family: 'Cormorant Garamond', serif; font-weight: 400; margin: 0 30px 60px 0; } 
.typo .inner span { color: white; font-size: 180px; font-family: 'Cormorant Garamond', serif; font-weight: 400; text-align: right; margin: 0 0 60px 30px; } 
.typo .inner strong { color: white; font-size: 180px; font-family: 'Cormorant Garamond', serif; font-weight: 400; margin: 0 30px 0 0; } 

.aos .container { width: 1420px; margin: 0 auto; } 
.aos .container div { width: 50%; } 
.aos .container .aos01 { margin: 0 0 100px 0; } 
.aos .container .aos02 { display: block; margin: 0 0 100px 0; float: right; clear: both; } 
.aos .container .aos03 { display: inline-block; float: left; clear: both; } 


/* section fixed */
.fixed .container { padding: 100px 0; background: #fafafa; } 
.fixed .container .inner { width:1420px; margin:0 auto; } 
.fixed .container .inner h2 { font-size: 30px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; line-height: 1.3; } 
.fixed .container .inner p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; line-height: 1.4; } 

/* footer */
.footer { padding: 80px 0; background: #181818; } 
.footer .container { width: 1420px; margin: 0 auto; color: #959595; font-size: 12px; } 
.footer .container .top h1 { margin: 0 0 25px 0; } 
.footer .container .top h1 img { width: 100px; } 

.footer .top dd, .footer .top dt { display: inline-block; margin: 0 0 10px 0; } 
.footer .top dd::after { content: ""; display: inline-block; margin: 0 15px; width: 1px; height: 9px; background: #959595; } 
.footer .top { border-bottom: 1px solid #b9b9b9; } 

.footer .bot { padding: 10px 0; } 
.footer .bot dd, .footer .bot dt { display: inline-block; margin: 0 0 10px 0; } 
.bot dd::after { content: ""; display: inline-block; margin: 0 15px; width: 1px; height: 9px; background: #959595; } 
.footer .bot p { margin: 0 0 10px 0; } 


.toTop { display: none; position: fixed; z-index: 999; inset: auto 50px 50px auto; } 
.toTop i { padding: 7px; background: rgba(255, 255, 255, 0.7); box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); color: #959595; font-size: 20px; border-radius: 25px; cursor: pointer; } 



.a { padding: 150px 0; background: pink; } 
.a figure { background: url(../img/aos03.png); z-index: 99; } 












/* 반응형 */

@media (max-width: 768px) { 
    
    *{word-break: keep-all;}
    
    /* header */
.header h1 { line-height: 100px; margin: 0 auto; text-align: center; } 
.header h1 img { width: 70px; } 

.header h1 img:nth-child(1) { animation: rotate_image 10s linear infinite; transform-origin: 50% 50%; } 
@keyframes rotate_image { 100% { transform: rotate(360deg); } 
 }

.header .gnb { display:none; margin: 0 auto; line-height: 50px; border-bottom: 1px solid #333; border-top: 1px solid #333;; } 
.header .gnb>ul { display: flex; gap: 50px; justify-content: center; font-family: 'SUIT'; font-weight: 400; font-size: 15px; } 



/* section main_visual */
.main figure img { width: auto; border-top: 1px solid #333; border-bottom: 1px solid #333; } 



/* section at_Home */
.at_home { padding: 100px 0; margin: 0 20px; } 
.at_home .container { width: auto; margin: 0 auto; } 
.at_home .container h2 { font-size: 50px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; } 
.at_home .container .inner { display: flex; flex-direction: column;  justify-content: space-between; } 
.at_home .container .inner p { font-size: 17px; font-family: 'SUIT'; font-weight: 400; margin: 0 0 30px 0; line-height: 1.4;} 
.at_home_slide img { margin: 0 5px;} 
.at_home .btn { display: none; cursor: pointer; width: 60px; height: 60px; border: 1px solid #333; border-radius: 30px; margin: 0 0 30px 0; } 



/* section slide_section */
.slide_section { background: rgb(236, 236, 236); overflow: hidden; } 
.slide_section .container {display: flex; width: auto; margin: 0 20px;} 
.slide_section .container .slide { display: flex; flex-direction: column; width: 100%; } 
.slide_section .container .slide01 { width: 100%;} 
.slide_section .container .slide02 { width: 100%;} 
.slide_section .container .slide div>img { width: auto; } 
.slide_section .content { margin: 0 20px; width: auto; font-family: 'SUIT'; text-align: right; } 
.slide_section .content h2 { font-size: 40px; font-weight: 700; margin: 0 0 30px 0; } 
.slide_section .content p { font-size: 20px; font-weight: 400; line-height: 1.4; } 



/* section_tile */
.tile { padding-top: 100px; margin: 0 20px; } 
.tile .container {  width: auto;  } 
.tile .container h2 { font-size: 30px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; line-height: 1.3; } 
.tile .container p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; margin: 0 0 50px 0; line-height: 1.4; } 
.tile .container .inner { display: flex; flex-direction: column; justify-content: space-between; } 
.tile .container .inner .btn_tile { display: none; background: #f1f1f1; padding: 9px 30px 10px 30px; border: 1px solid #333; margin: auto 0 50px auto; cursor: pointer; transition: 0.5s; } 
.tile .container .inner .btn_tile:hover { border: 1px solid #333; background: #333; color: white; } 
.tile .inner_img { display: flex; flex-direction: column; width: auto; } 
.tile .inner_img img:hover { filter: brightness(0.5); transition: 0.5s; } 



/* section small_slide */
.small_slide  { margin: 0 20px; position: relative; padding: 150px 0; } 
.small_slide .container { width: auto; margin: 0 auto; } 
.small_slide .container h2 { font-size: 30px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; line-height: 1.3; } 
.small_slide .container p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; margin: 0 0 30px 0; line-height: 1.4; } 
.small_slide .container .small_btn { cursor: pointer; width: 60px; height: 60px; border: 1px solid #333; border-radius: 30px; margin:0 0 30px auto; } 
.small_slide .slide_small { position: static; inset: 50% 0 0 50%; transform: translate(0); } 
.small_slide .slide_small img { margin: 10px; width: auto; } 


/* section fixed_bg */
.fixed_bg {  position: relative; height:200vh; background: #181818; } 

.typo { margin: 0 20px; position: sticky; top: 0; padding: 40vh 0; height:100vh; } 
.typo .container { width: auto; margin: 0 auto; } 
.typo .inner { display: flex; } 
.typo .inner img { display: none; height: 100px; margin: 50px 0 30px 0; } 
.typo .inner p { color: white; font-size: 40px; font-family: 'Cormorant Garamond', serif; font-weight: 400; margin: 0 auto 30px auto; } 
.typo .inner span { color: white; font-size:40px; font-family: 'Cormorant Garamond', serif; font-weight: 400; text-align: center; margin: 0 auto 30px auto; } 
.typo .inner strong { color: white; font-size: 40px; font-family: 'Cormorant Garamond', serif; font-weight: 400; margin: 0 auto 0 auto; } 

.aos .container { width: auto; margin: 0 auto; } 
.aos .container div { width: 50%; } 
.aos .container .aos01 { margin: 0 0 100px 0; } 
.aos .container .aos02 { display: block; margin: 0 0 100px 0; float: right; clear: both; } 
.aos .container .aos03 { display: inline-block; float: left; clear: both; } 


/* section fixed */
.fixed .container { padding: 100px 0; background: #fafafa; } 
.fixed .container .inner { width:auto; margin:0 20px; } 
.fixed .container .inner h2 { font-size: 30px; font-family: 'SUIT'; font-weight: 700; margin: 0 0 30px 0; line-height: 1.3; } 
.fixed .container .inner p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; line-height: 1.4; } 

/* footer */
.footer { padding: 80px 0; background: #181818; } 
.footer .container { width: auto; margin: 0 20px; color: #959595; font-size: 12px; } 
.footer .container .top h1 { margin: 0 0 25px 0; } 
.footer .container .top h1 img { width: 100px; } 

.footer .top dd, .footer .top dt { display: inline-block; margin: 0 0 10px 0; } 
.footer .top dd::after { content: ""; display: inline-block; margin: 0 15px; width: 1px; height: 9px; background: #959595; } 
.footer .top { border-bottom: 1px solid #b9b9b9; } 

.footer .bot { padding: 10px 0; } 
.footer .bot dd, .footer .bot dt { display: inline-block; margin: 0 0 10px 0; } 
.bot dd::after { content: ""; display: inline-block; margin: 0 15px; width: 1px; height: 9px; background: #959595; } 
.footer .bot p { margin: 0 0 10px 0; line-height: 1.4; } 


.toTop { display: none; position: fixed; z-index: 999; inset: auto 50px 50px auto; } 
.toTop i { padding: 7px; background: rgba(255, 255, 255, 0.7); box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); color: #959595; font-size: 20px; border-radius: 25px; cursor: pointer; } 
 }