@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff');

.container {display: flex; width: 1420px; margin: 0 auto; } 

/* topbanner */
.topbanner { padding: 50px; background: url(../img/topbanner.png)no-repeat center center/cover; } 
.topbanner .container { display: flex; justify-content: space-between; } 
.topbanner h2 { font-family: 'Cafe24Ssurround'; font-size: 35px; color: white; } 
.topbanner i {position: absolute; inset: 30px 50% auto 50%; transform: translate(720px); font-size: 30px;}

/* header - nav */
.header {line-height: 100px;}
.header a {display: block;}
.header .container {justify-content: space-between;}
.header .container>ul{display: flex;}
.header .container .gnb{gap: 30px; width: 400px; font-weight: 13px;}
.header h1 {width: 250px;}
.header .container .icon{gap: 20px; width: 400px; font-size: 20px;}
