@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); @font-face { font-family: 'Cafe24Ssurround'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'SUIT'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2'); } 





.container { display: flex; width: 1420px; margin: 0 auto; } 

/* topbanner */
.topbanner { padding: 40px 0; background: url(../img/topbanner.png)no-repeat center center/cover; } 
.topbanner .container { justify-content: space-between; } 
.topbanner h2 { font-family: 'Cafe24Ssurround'; font-size: 35px; color: white; } 
.topbanner i { font-size: 30px; cursor: pointer; } 


/* header - nav */
.header { line-height: 100px; } 
.header a { display: block; } 
.header .container { justify-content: space-between; } 
.header .container>ul { display: flex; } 
.header .container .gnb { gap: 30px; width: 400px; font-weight: 15px; } 
.header h1 { width: 250px; } 
.header .container .icon { gap: 20px; width: 400px; font-size: 20px; justify-content: flex-end; } 


/* section main_visual */
.main_visual .main_slider .mv01 { background: url(../img/mv001.png)no-repeat center center/cover; } 
.main_visual .main_slider .mv02 { background: url(../img/mv002.png)no-repeat center center/cover; } 
.main_visual .main_slider .mv03 { background: url(../img/mv003.png)no-repeat center center/cover; } 
.main_visual .main_slider figure { position: relative; height: 870px; } 

.slick-dots { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, 360px); } 
.slick-dots li { display: inline-block; margin: 0 7px; } 
.slick-dots li button { border: none; font-size: 0; background: white; width: 10px; height: 10px; padding: 0; border-radius: 50%; } 
.slick-dots li.slick-active button { background: transparent; border: 1px solid white; } 

/* section kakao */
.kakao { padding: 100px 0; background: url(../img/friends.png)no-repeat center center/cover; } 
.kakao h2 { font-size: 30px; font-family: 'Cafe24Ssurround'; line-height: 1.3; color: #181818; } 
.kakao h2::after { content: ""; display: block; width: 30px; height: 1px; background: #555; margin:30px 0; } 
.kakao p { font-size: 15px; font-family: 'SUIT'; font-weight: 500; line-height: 1.4; margin: 0 0 60px 0; color: #333; } 
.kakao a { font-size: 15px; font-family: 'SUIT'; color: #333; font-weight: 600; display: inline-block; border: 1px solid #333; padding: 5px 20px; border-radius: 20px; } 

/* section friend */
.friend { padding: 100px 0; } 
.friend .container { flex-direction: column; } 
.friend .container h2 { font-size: 30px; font-family: 'Fredoka One', cursive; line-height: 1.3; color: #181818; margin: 0 0 20px 0; } 
.friend .container p { font-size: 15px; font-family: 'SUIT'; font-weight: 500; line-height: 1.4; color: #333; } 
.friend .container .itm { position: relative; padding: 100px 40px 40px 40px; border-radius: 20px; margin: 0 10px; overflow: visible; } 
.friend .container .itm h3 { font-size: 25px; font-family: 'Cafe24Ssurround', cursive; line-height: 1.3; color: white; margin: 0 0 10px 0; } 
.friend .container .itm p { font-size: 15px; font-family: 'SUIT'; font-weight: 400; line-height: 1.4; color: white; margin: 0; } 
.box { padding-top:100px; } 
.friend .container .itm01 { background: #FD9F21; } 
.friend .container .itm02 { background: #FD949D; } 
.friend .container .itm03 { background: #A76844; } 
.friend .container .itm04 { background: #81ACCE; } 
.friend .container .itm05 { background: #A97937; } 
.friend .container .itm06 { background: #FED43F; } 
.friend .container .itm img { position: absolute; width: 50%; bottom: 100px; right: 0; } 
.friend .container { position: relative; } 
.friend .angle { position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%); font-size: 30px; color: #959595; cursor: pointer; } 
.friend .angle i:nth-child(1) { transform: translateX(-750px); } 
.friend .angle i:nth-child(2) { transform: translateX(750px); } 
.friend .container .friends_slide .box:hover .itm>img{animation: jump 1s infinite;}

@keyframes jump {
    0% { transform: translate(0, -10%) scale(1, 0.95); }
    50% { transform: translate(0, -20%) scale(1, 1); }
    100% { transform: translate(0, -10%) scale(1, 0.95); }
}

/* section season */
.season { padding: 100px 0; background: #fafafa; } 
.season .container { flex-direction: column; text-align: center; } 

.season .container h2 { font-size: 30px; font-family: 'Fredoka One', cursive; line-height: 1.3; color: #181818; margin: 0 0 20px 0; } 
.season .container p { font-size: 15px; font-family: 'SUIT'; font-weight: 500; line-height: 1.4; color: #333; margin: 0 0 50px 0; } 

.season .container .inner { display: grid; grid-template-rows: 330px 330px; grid-template-columns: 700px 700px; row-gap: 20px; column-gap: 20px; } 
.season .container .inner .season_box{position: relative;}
.season .container .inner .season_box>img{border-radius: 20px; transition: 0.5s;}
.season .container .inner>div:hover img {filter: brightness(0.3);}
.season .container .inner div:hover .des {opacity: 1;}
.season .container .des { text-align: left; position: absolute; color:white; bottom: 40px; left: 40px; opacity: 0;} 
.season .container .des h3{font-size: 25px; font-family: SUIT; font-weight: 700; line-height: 1.4; margin: 0 0 10px 0;}
.season .container .des p{font-size: 15px; font-family: SUIT; line-height: 1.4; margin: 0; color: white;}
