@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");
/* font-family: 'Montserrat', sans-serif; */

/* * { outline: 1px dashed pink; } */
.Wrap{overflow-x: hidden;}
/* Header */
.Header a { display: block; } 
.Header .top { display: flex; width: 1840px; margin: 0 auto; justify-content: space-between; line-height: 40px; } 
.Header .top ul { display: flex; gap: 40px; } 
.Header h1 { width: 75px; margin: 0 auto; line-height: 90px; } 
.Header .Gnb ul { display: flex; gap: 40px; line-height: 30px; justify-content: center; margin-bottom: 30px; font-size: 17px; } 

/* Main_Slider */
/* .MainVisual .MainSlider figure { height: 80vh; } 
.MainVisual .MainSlider .itm01 { background: url(../img/mv01.png)no-repeat center center/cover; } 
.MainVisual .MainSlider .itm02 { background: url(../img/mv02.png)no-repeat center center/cover; } 
.MainVisual .MainSlider .itm03 { background: url(../img/mv03.png)no-repeat center center/cover; } 
.MainSlider .swiper-wrapper figure { position: relative; } 
.MainSlider .swiper-wrapper figure .slogan { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, -50%); text-align: center; } */

.splide__slide { position: relative; } 
.splide__slide img { width: 100%; height: 80vh;} 
.splide__slide .slogan { position: absolute; inset: 55% auto auto 50%; transform: translate(-50%, -50%); text-align: center; } 
.splide__slide .slogan h2 { font-family: 'Montserrat', sans-serif; font-weight: 600; color:white; margin: 0 0 50px 0; font-size: 65px; } 
.splide__slide .slogan a{padding: 15px 35px; background: white;  font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 15px;}
.splide__pagination>li button{ width: 50px; height: 4px; background: white; gap: 10px; border-radius: 0; bottom: 100px;}
.splide__pagination>li button.is-active{background: red; transform: none; opacity: 1; }